# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/

# VS Code settings
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# Pytest
.pytest_cache/

# OS files
.DS_Store
Thumbs.db

# Ignore environment variable files
.env